html {
    scroll-behavior: smooth;
}
.main {
    background-color: #e4e5ea;
}
.gnomes-message {
    margin: 15px;
}
.gnomes-list {
    margin: 15px;
}
.gnomes-list.loading {
    opacity: 0.5;
}
.gnome-card {
    padding: 0;
    cursor: pointer;
    transition: transform 400ms ease;
}
.gnome-card:hover {
    transform: scale(1.05);
}
.gnome-card .image {
    overflow: hidden;
    border-radius: 6px 6px 0 0;
}
.gnome-card img {
    object-fit: cover;
}
.centered {
    display: flex !important; 
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.return-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 60px;
    right: 20px;
    bottom: 20px;
    transition: all 250ms ease;
    background: #00d1b2;
    cursor: pointer;
}
.return-to-top img {
    height: 25px;
    width: auto;
}

.return-to-top.visible {
    width: 60px;
    height: 60px;
    opacity: 1;
}
