.gnomes-message {
    margin: 15px;
}
.gnomes-list {
    margin: 15px;
}
.gnomes-list.loading {
    opacity: 0.5;
}
.centered {
    display: flex !important; 
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}